
<div class="resizing-margin">
  <div class="centered app-wide-text" style="margin: auto; max-height: 600px; max-width: 800px;text-align: justify; text-justify: inter-word;">
    <div>
      <div class="col-md-12">
          <img id="srvLogo" src="/assets/team/sajjan.jpg" style="width:185px; height:185px; padding:5px; border-radius: 50%; float:right">
          <p>
            Sajjan is a New York City– and Boston-based Nepali singer-songwriter, guitarist, composer and producer. Sajjan grew up in Kathmandu, Nepal, and began writing and playing music from a young age. He started playing live shows in his hometown as a primarily acoustic singer-songwriter, drawing inspiration from artists that he had been introduced to by his family.
            Sajjan began publishing his songs through YouTube and SoundCloud. He released his first original, ‘Aaja Matra’, in 2014. His first major production was the original ‘Hawaijahaj’, in 2016, which was accompanied by a music video produced by the Kathmandu-based Fuzz Factory Productions.
          </p>
      </div>
    </div>
  </div>
</div>


