.form-control.ng-touched.ng-invalid{
    border:2px solid red;
}


.transParentSpan{
    background: transparent; 
    color: gainsboro;
    font-family: logoFont;   
    height:38px;
    font-size: 2rem;
}

.alert{
    font-family: logoFont;   
    font-size: 2rem;
    height:50px;
    width:100%;
    margin:auto;
    margin-top:5px;
    text-align: center;
}


#contactContainer p{
    margin-top:-12px;
}


#contactContainer h4, h3, label{
    color: gainsboro;
    font-family: logoFont;  
}

@media (max-width: 994px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    h4{
       font-size:1.75rem !important;
    }

    h3{
        font-size:3rem !important;

    }

    .container{
        padding-right: 0px;
        padding-left: 0px;
    }


}
