<div class="wrapper">
    <div class="row">
            <div class="col-md-8">
                        <app-nav-bar></app-nav-bar>
            </div>
            <div class="col-md-4">
                        <app-social-bar></app-social-bar>
            </div>
    </div>
    <div class="row">
        <app-logo></app-logo>
    </div>
    <div class="row">
            <div class="class col-md-1"></div>
            <div class="class col-md-10"><router-outlet></router-outlet> </div>
            <div class="class col-md-1"></div>
    </div>
  <div class="push"></div>
</div>
<app-footer></app-footer>

