
<div class="Site">
        <div class="Site-content" >
                <div class="row">
                        <div class="col-md-8"><app-nav-bar ></app-nav-bar></div>
                        <div class="col-md-4"><app-social-bar id="app-social-bar" style="float:right"></app-social-bar></div>    
                </div>
                <div class="row" >
                       <app-logo style="width: 100%;margin:auto;"></app-logo>
                </div>
                <router-outlet ></router-outlet>

                
        </div>       
        <app-footer ></app-footer>   
</div>
        
        