#socialBar ul{
    list-style: none;
  }

#socialBar li{
    display: inline;
}

.circle {
    border-radius: 28%;  
}

@media (max-width: 994px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    #socialBarContainer{
        padding: 0px !important; 
        margin-bottom: 0px !important;
    }

    #socialBar{
        padding: 0px !important; 
    }

    .social-icon{
        margin-left: 10px !important;
    }
   
}

