@import "~bootstrap/dist/css/bootstrap.css";


html, body {
    height: 100%;
    margin: 0;
}


body { 
    background: url("assets/pictures/srv_background3.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.container{
    width: 100%;
}

.resizing-margin{
    margin-right:10px; 
    margin-left:10px
}

.app-wide-text{
    color: #fff;
}


@font-face {
    font-family: logoFont;
    src: url("assets/fonts/Attentica.ttf");

}

.logoFont{
    font-family: logoFont;    
    color: gainsboro; 
    font-size: 500%;  
}

.menuFont{
    font-family: logoFont;    
    color: gainsboro; 
    font-size: 200%;
}

.customFont{
    font-family: logoFont;    
    color: gainsboro; 
}


.centeredDiv{
    width:100%; margin:auto;
}


.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.Site-content {
    flex: 1;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.justifiedText{
    text-align: justify; 
    text-justify: inter-word;
}

.shadowfilter {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	
}.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 18px rgba(24, 182, 255, 0.8));
}


mark {
    background:rgba(255,255,255,0.1);
        color: gainsboro;
  }