@import "~bootstrap/dist/css/bootstrap.css";


html, body {
    height: 100%;
    margin: 0;
}



body { 
    background: url("assets/pictures/srv_background3.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-link{
    font-weight: bold;
    color: gainsboro;

}

.nav-filter {
	background-color:#444;
}

.nav-pills>li>a:hover {
    background-color:black;
    border: #fff 10px;
}

.nav-pills .open>a, .nav-pills .open>a:active, .nav-pills .open>a:focus{
	background-color:white;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: red
}


.container{
    width: 100%;
}

.resizing-margin{
    margin-right:10px; 
    margin-left:10px
}

.app-wide-text{
    color: #fff;
}


@font-face {
    font-family: logoFont;
    src: url("assets/fonts/Attentica.ttf");

}

.logoFont{
    font-family: logoFont;    
    color: gainsboro; 
    font-size: 500%;  
}

.menuFont{
    font-family: logoFont;    
    color: gainsboro; 
    font-size: 200%;
}

.customFont{
    font-family: logoFont;    
    color: gainsboro; 
}
.table{
    background: rgba(122, 130, 136, -0.8)!important
}


.centeredDiv{
    width:100%; margin:auto;
}


.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.Site-content {
    flex: 1;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}