
<div class="resizing-margin">
    <div class="centered text-center">
        <div id="teamList" *ngFor="let team of teamMembers">
                <img class="circle" id="srvLogo" [src]="team.photoURL" (click)="showTeamInfo(content,team)">
        </div> 
    </div>
</div>

<ng-template #content let-modal id="teamModal">
    <div class="modal-header">
        <h4 class="modal-title">{{currentTeamObject.name}} ({{currentTeamObject.title}})</h4>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
            <div class="col-md-7">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="col-md-5">
                <img id="srvLogo" [src]="currentTeamObject.photoURL" style="width:185px; height:185px; padding:5px">
            </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        </div>
      </div>
     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

