#teamList {
    display:inline-block;
}

.circle {
    width: 75%;
    height: 50%;
    border-radius: 50%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    margin:10px;
    max-width:300px;	
}

.circle:hover{
    outline: none;
    border-color: #f1f2f3;
    box-shadow: 0 0 40px lightskyblue;
}

.modal-header, .modal-body, .modal-footer, span{
    background: #292b2c;
    color: white;
}

.span{
    padding-top: 0px;
}

.circleImage{
    width:185px; 
    height:185px; 
    padding:5px; 
    border-radius: 50%; 
    float:right
}