<div>
  <h1 style="display:none">Sajjan Raj Vaidya Official</h1>
    <div class="col-md-12 centeredDiv" style="min-width:280px; width:100%; margin:auto">
        <div class="resizing-margin" >
          <div style="margin:auto; max-width: 800px; max-height: 500px;">
              <div class="g-ytsubscribe" data-channel="SajjanRajVaidya" data-layout="full" data-theme="dark" data-count="default"></div>          </div>  
        </div>    
      </div>
    <div class="col-md-12 centeredDiv" style="min-width:280px; width:100%; margin:auto">
      <div class="resizing-margin" >
        <div class="embed-responsive embed-responsive-16by9" style="margin:auto; max-width: 800px; max-height: 500px;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ogr6ygCwRwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>  
      </div>    
    </div>
</div>

