<div>
  <div class="row" style="margin-right:0px; margin-left:0px">
    <div class="col-md-4 centeredDiv">
      <div class="resizing-margin " style="margin-bottom: 20px;">
        <div class="centered text-center" style="margin:auto; max-width: 800px; max-height: 500px">
                <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:1deQzOQwArAsUgm2WdjtyI&size=detail&theme=light" 
                width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden; background:#aaaaaacc" allowtransparency="true"></iframe>
        </div>
            
        <div class="centered text-center " style="margin:auto; max-width: 800px; max-height: 500px">
               <iframe src="https://open.spotify.com/embed/artist/1deQzOQwArAsUgm2WdjtyI" 
                width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="height:250px"></iframe>
        </div>            
      </div>
    </div>
    <div class="col-md-8 centeredDiv" style="min-width:280px; width:100%; margin:auto">
      <div class="resizing-margin" >
        <div class="embed-responsive embed-responsive-16by9" style="margin:auto; max-width: 800px; max-height: 500px;">
                <iframe  class="embed-responsive-item"
                src="https://www.youtube.com/embed/playlist?list=PLGmSJ8T13LJeBNfiayFOR6jBKZKmvsQes" 
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>  
      </div>    
    </div>
  </div>
</div>